footer {
    margin-top: 70px;
    background-color: $blue-dark;
}

.footer-menu-wrapper {
    margin: 0 -15px;
    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;
    }
}
.footer-menu {
    width: 100%;
    margin: 0 15px 32px;
    flex-grow: 1;
    @include media-breakpoint-up(md) {
        width: 24%;
        margin: 0 15px;
    }
    &--pillars {
        h5 {
            color: $gray-lighter;
            &:last-child {
                margin-bottom: 0;
            }
            span {
                color: $brand-primary;
            }
        }
    }
    &--wrap {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 38%;
        }
        ul {
            column-count: 2;
            column-gap: 16px;
            @include media-breakpoint-up(md) {
                column-gap: 30px;
            }
        }
    }
    &__title {
        margin-bottom: 15px;
        font-size: 18px;
        color: $brand-primary;
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            margin-bottom: 5px;
            font-size: 15px;
        }
    }
    a {
        color: $white;
        transition: .25s;
        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }
    }
}

.connect {
    position: relative;
}

.mail-address {
    @include media-breakpoint-down(sm) {
        float: none;
        margin-bottom: 16px;
    }
}

.base-wrapper {
    padding: 20px 0;
    background-color: $blue-dark;
}
.base {
    position: relative;
    text-align: center;
    border-top: 1px solid $blue;
    @include media-breakpoint-up(md) {
        text-align: left;
    }
    &__copy {
        margin-top: 16px;
        font-size: 14px;
        color: #C1C5CB;
        @include media-breakpoint-up(md) {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: 0;
            font-size: 15px;
            transform: translateY(-50%);
        }
    }
    .logo-alt {
        height: 40px;
    }
    .logo-mark {
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        height: 40px;
        transform: translate(-50%, -50%);
        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
    img {
        filter: grayscale(100%);
        transform: scale(.5);
        @include media-breakpoint-up(md) {
            transform-origin: left center;
        }
    }
}
