.btn,
%btn {
    padding: 16px 40px;
    font-weight: 700;
    color: $white;
    background-color: $brand-primary;
    border-radius: 4px;
    box-shadow: 0 16px 16px -10px fade-out($blue, .8);
    transition: .25s;
    &:hover,
    &:active,
    &:focus {
        color: $white;
        text-decoration: none;
        background-color: darken($brand-primary, 10%);
    }
    &:active,
    &:focus {
        background-color: darken($brand-primary, 20%);
    }
    &--white {
        color: $blue-dark;
        background-color: $white;
    }
    &-primary {
        padding: 15px 30px;
        margin-bottom: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &-secondary {
        position: relative;
        display: inline-block;
        padding: 12px 56px 12px 20px;
        color: $white;
        background-color: $brand-primary;
        border: 0;
        transition: .25s;
        &::after {
            position: absolute;
            top: 50%;
            right: 21px;
            width: 22px;
            height: 13px;
            background-image: url("../../src/img/arrow.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            transform: translateY(-50%);
        }
        &:hover,
        &:active,
        &:focus {
            padding: 12px 64px 12px 20px;
            color: $white;
            background-color: darken($brand-primary, 10%);
            box-shadow: 0 9px 8px -7px fade-out($blue, .75);
        }
        &:active,
        &:focus {
            background-color: darken($brand-primary, 20%);
        }
    }
    &-footer {
        position: relative;
        display: inline-block;
        padding: 12px 56px 12px 20px;
        color: $dark;
        background-color: $white;
        border: 0;
        transition: .25s;
        &::after {
            position: absolute;
            top: 50%;
            right: 21px;
            width: 22px;
            height: 13px;
            background-image: url("../../src/img/arrow.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            transform: translateY(-50%);
        }
        &:hover,
        &:active,
        &:focus {
            padding: 12px 64px 12px 20px;
            color: $dark;
            background-color: darken($white, 10%);
            box-shadow: 0 9px 8px -7px fade-out($blue, .75);
        }
        &:active,
        &:focus {
            background-color: darken($white, 20%);
        }
    }
}
