{% extends "base.twig" %}

{% block content %}
	<section>
		<div class="container vm-xs-top-6" style="text-align: center;">
			<h2><span style="color: #b19a72;">404</span> The tomb is empty</h2>
			<h3>This content could not be found</h3>
		</div>
	</section>
{% endblock %}