
{% extends "base.twig" %}

{% block content %}
	
	{% if post.get_field('hero')|length > 1 %}
		<div class="hero big-slick">
			{% include 'hero-home.twig' %}
		</div>
	{% else %}
		<div class="hero">
			{% include 'hero-page.twig' %}
		</div>
	{% endif %}

	<section>
		<div class="container">
			{% include '_partial-flex-fields.twig' %}
		</div>
	</section>

	<div class="map">
		<div class="map-card">
			<div class="map-card__title">Join Us</div>
			<div class="map-card__subtitle">Sundays at 10:00am</div>
			<div class="map-card__text">
				Morningside Elementary<br />
				{{ options.church_address }}
			</div>
			<a href="https://www.google.com/maps/dir/29.6189952,-98.2491136/Morningside+Elementary+3855+Morningside+Dr,+New+Braunfels,+TX+78132/@29.6409071,-98.240166,13z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x865c96446a33a95b:0xc15395e04b9db72a!2m2!1d-98.1614264!2d29.6587241" class="map-card__button btn btn-secondary">Get Directions</a>
		</div>
		<div id="map" class="u-abs-full bg-img bg-map" data-lattitude="29.658754" data-longitude="-98.161567"></div>
	</div>

{% endblock %}
