
{% extends "base.twig" %}

{% block content %}
	{% if post.get_field('hero')|length > 1 %}
		<div class="hero big-slick">
			{% include 'hero-home.twig' %}
			<div class="round-edge"></div>
		</div>
	{% else %}
		<div class="hero">
			{% include 'hero-page.twig' %}
			<div class="round-edge"></div>
		</div>
	{% endif %}

	{# <a class="hero-content__button hero-content__button--play video-modal-trigger" href="#!" data-vimeoid="RFaIkp_m6HU">Play Video</a> #}

	{% if post.get_field('home_cta_title') %}
		<section class="container">
			<div class="cta">
				<div class="cta__content">
					<h3 class="cta__title">{{ post.get_field('home_cta_title') }}</h3>
					<p class="cta__text">
						{{ post.get_field('home_cta_subtitle') }}
					</p>
				</div>
				<div class="cta__button">
					<a href="{{ post.get_field('home_cta_button_url') }}">
						{{ post.get_field('home_cta_button_text') }}
					</a>
				</div>
			</div>
		</section>
	{% endif %}

	<section style="position: relative;">
		<div class="container">
			{% include '_partial-flex-fields.twig' %}
		</div>
	</section>

{% endblock %}
