{% extends "base.twig" %}

{% block content %}
	
	{% for hero in post.get_field('hero') %}
		<div class="series-archive-header">
			<div class="series-archive-header__wrapper">
				<h1 class="series-archive-header__header">{{ hero.title }}</h1>
				<p class="series-archive-header__subheader">{{ hero.subtitle }}</p>
			</div>
		</div>
		<div class="hero">
			<div class="hero__slide hero__slide--series">
	            <div class="u-abs-full bg-img" style="background-image: url('{{ fn('imgix', hero.bg_image, 1400) }}');"></div>
	        </div>
		</div>
	{% endfor %}

	<section>
		<div class="container">
			{% include '_partial-flex-fields.twig' %}
		</div>
	</section>

{% endblock %}
